/* Terminus */

/* Base */

body {
    background: #fff;
    font-family: sans-serif;
    margin: 0 auto;
    max-width: 80em;
    padding: 1em;
}

/* Links */

h1 a,
h2 a {
    color: inherit;
    text-decoration: none;
}

h1 a:hover,
h2 a:hover {
    color: #06c;
}

/* WordPress core */

.wp-caption-text {
    color: #858585;
}

/* Header */

.header {
    margin: 2em 0;
}

.header h1 {
    margin: 0;
}

.header p {
    margin: 0.5em 0;
}

/* Navigation */

.nav {
    margin: 2em 0;
}

.nav:after {
    clear: both;
    content: "";
    display: block;
}

.nav ul {
    margin: 0;
    padding: 0;
}

.nav li {
    display: block;
    float: left;
    padding: 0 0.5em 0.5em 0;
}

.nav a {
    background: #333;
    border-radius: 0.25em;
    color: #fff;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
}

.nav a:focus,
.nav a:hover {
    background: #5c5c5c;
    outline: none;
}

.nav .current_page_ancestor > a,
.nav .current_page_item > a {
    background: #d6d6d6;
    color: #333;
}

/* Navigation | Level 2 */

.nav li ul {
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #d6d6d6;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
    display: none;
    font-size: 0.875em;
    margin-top: 0.25em;
    min-width: 12em;
    position: absolute;
}

.nav li:hover ul {
    display: block;
}

.nav li ul li {
    float: none;
    margin: 0;
    padding: 0;
}

.nav li ul a {
    background: transparent;
    border-radius: 0;
    color: #333;
    display: block;
    padding: 0.5em 1em;
}

.nav li ul .current_page_ancestor > a,
.nav li ul .current_page_item > a {
    background: transparent;
    font-weight: bold;
}

.nav li ul a:focus,
.nav li ul a:hover {
    background: #06c;
    color: #fff;
}

/* Navigation | Level 3 */

.nav li li ul {
    background: transparent;
    border: 0;
    box-shadow: none;
    font-size: 1em;
    margin: 0;
    padding-left: 1em;
    position: static;
}

/* Content */

.content {
    margin: 2em 0;
}

.content:after {
    clear: both;
    content: "";
    display: block;
}

/* Main */

.main .page,
.main .post {
    border-bottom: 1px solid #d6d6d6;
    margin: 2em 0;
    padding-bottom: 1em;
}

.main > .attachment > :first-child,
.main > .page > :first-child,
.main > .post > :first-child,
.main > :first-child {
    margin-top: 0;
}

.attachment-post-thumbnail {
    display: block;
    margin: 1em auto;
}

/* Meta */

.meta {
    color: #858585;
    font-size: 0.875em;
}

/* Comments */

.comments {
    margin: 2em 0;
}

.comments > ol {
    padding: 0;
}

.comments .children {
    margin: 0;
}

.comments li {
    display: block;
}

.comment-body {
    border-bottom: 1px solid #d6d6d6;
    padding-left: 48px;
    padding: 1em 0 1em 48px;
    position: relative;
}

.comment-body .avatar {
    position: absolute;
    left: 0;
}

.comment-body li {
    display: list-item;
}

.comment-body .comment-meta,
.comment-body .reply {
    font-size: 0.875em;
}

.comment-respond {
    margin: 2em 0;
}

/* Side */

.side {
    clear: both;
}

/* Widgets */

.widget {
    border: 1px solid #d6d6d6;
    border-radius: 0.25em;
    font-size: 0.875em;
    margin-bottom: 1em;
    padding: 1em;
}

.widget > h2:first-child {
    margin-top: 0;
}

/* Pagination */

.comments-pagination,
.pagination {
    margin: 2em 0;
}

.comments-pagination:after,
.pagination:after {
    clear: both;
    content: "";
    display: block;
}

.comments-pagination a,
.page-numbers {
    background: #333;
    border-radius: 0.25em;
    color: #fff;
    display: block;
    float: left;
    margin: 0 0.5em 0 0;
    padding: 0.25em 0.5em;
    text-decoration: none;
}

.comments-pagination a:focus,
.comments-pagination a:hover,
.page-numbers:focus,
.page-numbers:hover {
    background: #5c5c5c;
}

.page-numbers.current {
    background: #d6d6d6;
    color: #333;
}

.page-numbers.dots {
    background: transparent;
    color: #333;
}

/* Footer */

.footer {
    color: #858585;
    font-size: 0.875em;
    margin: 2em 0;
}

/* Forms */

label {
    display: block;
    margin: 0.5em 0;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
select,
textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #d6d6d6;
    color: inherit;
    display: block;
    margin: 0.5em 0;
    padding: 0.5em;
    width: 100%;
}

textarea {
    height: 12em;
}

.main input[type="email"],
.main input[type="number"],
.main input[type="password"],
.main input[type="search"],
.main input[type="tel"],
.main input[type="text"],
.main input[type="url"],
.main select {
    max-width: 24em;
}

.main textarea {
    max-width: 36em;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
textarea:focus {
    border-color: #858585;
}

button,
input[type="button"],
input[type="submit"] {
    background: #ebebeb;
    background: linear-gradient(0deg, #ebebeb, #fff);
    border: 1px solid #d6d6d6;
    border-radius: 0.25em;
    color: inherit;
    padding: 0.5em 1em;
}

button:focus,
button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover {
    border-color: #adadad;
}

button:active,
input[type="button"]:active,
input[type="submit"]:active {
    background: #ebebeb;
    border-color: #d6d6d6;
}

/* Screen > 60em */

@media screen and (min-width: 60em) {

    /* Main */

    .main {
        float: left;
        width: 65%;
    }

    /* Side */

    .side {
        clear: none;
        float: right;
        width: 30%;
    }

}
